body{
    background-image: url("images/background2.jpg");
    background-attachment: fixed;
    background-color: black;
    /* background: linear-gradient(to left, black,rgb(57, 56, 56)) !important; */
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    text-align: center;
    /* position: relative; */

}
.header{

    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
    /* max-height: 2rem; */

    display: flex;
    justify-content: space-between;
    height:fit-content;
    /* padding: 10px 5px ; */
    width: 100%;
}
.header__logo{
    display: flex;
    gap: 10px;
    margin: 5px;
}
.header__image{
    /* border-radius: 50%; */
    height: 3rem;
    border-radius: 50%;
}
.header__title{
    /* font-family: ; */
    font-size: 3em;
    margin: auto;

}
.header__nav-bar{
    margin-right: 1rem;
    padding: 0;
}
.header__menu{
    display: flex;
}
.header__items{
    list-style: none;
    padding: 0.5rem;
}
.header__items--selected{
    border-bottom: 5px solid rgb(0, 88, 220);
    
    /* border-radius: 5px;
    box-shadow: 0 0 15px; */
}
.header__links{
    color: white;
    font-size: 1rem;  
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
}  
.header__items:hover{
    background-color: rgb(0, 88, 220);
    border-radius: 4px;
    transition: 0.4s;
    
}
.burger{
    display: none;
}
.burger__line{
    background-color: antiquewhite;
    margin-bottom:0.5rem ;
    padding: 0.1rem;
    width: 2.5rem;
}
.burger{
    display: none;
}
.burger__line{
    background-color: antiquewhite;
    margin-bottom:0.5rem ;
    padding: 0.1rem;
    width: 2.5rem;
}
@media (max-width:600px) {
    .header{
        max-height: 2rem;
    }
    .header__image{
        width: 2rem;
        height: 2rem;
    }
    .header__title{
        font-size: 2.2rem;
    }
    .burger{
        margin: 0.5rem;
        padding: 0.2rem;
        display: block;

    }
    .burger:hover{
        background-color: rgb(29, 29, 29);
    }
    .header__nav-bar{
        display: none;
    }
    .header__nav-bar.active{
        display: flex;
        position: fixed;
        top: 1rem;
        left: 0;
        width: 100%;
        transition: 1s;

    }
    .header__menu{
        background-color: rgb(19, 19, 26);
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .header__items{
        border-bottom: 1px solid white;
        width: 100%;
        padding: 0;
    }
    .header__items--selected{
        border-radius: 5px;
        box-shadow: 0 0 0 0;
    }
    .header__links{
        display: block;
        font-size: 1rem;
        width: 100%;
    
    }
    .header__items:hover{
        background-color:rgb(8, 8, 89);
        border-radius: 0;
        transition: 0.3s;
    }
}


/* footer{
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
} */
.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 1rem;
    background-color:rgb(4, 4, 20) ;
 }
 .footer__name{
    font-size: 1.25rem;
    text-align: left;
 }
 .footer__link{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
 }
 .footer__item{
    text-align: left;
	padding: 0 0 5px 35px;
    margin-bottom: 0.5rem;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1.58em;
 
 }
 .footer__item:hover{
    background-color: rgb(66, 66, 67);
    border-radius: 5px;  
 }
 @media (max-width:600px){
    .footer {
        display: block;
    }
    .footer__card{
        margin-left: 2rem;
    }
 }
 .footer__item--page{
    background-image: url("images/logo.png");
 }
 .footer__item--phone{
    background-image: url("images//phone.png");
 }
 .footer__item--email{
    background-image: url("images//email.png");
 }
 .footer__item--location{
    background-image: url("images//location.png");
 }
 .footer__item--telegram{
    background-image: url("images//telegram.png");
 }
 .footer__item--linkedin{
    background-image: url("images/linkedin.png");
 }
 .footer__item--github{
    background-image: url("images/github.png");
 }
 .footer__item--leetcode{
    background-image: url("images/leetcode.png");
 }
 .footer__item--twitter{
    background-image: url("images/twitter.png");
 }
 .bottom-text{
    width:100%;
    font-size: 1rem;
    border-top: 1px solid white;
    background-color: rgb(6, 8, 21);
    text-align: center;
    margin: 0;
 }