.project__title{
    font-size: 3rem;
    margin: 0;
}
.project__container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 98%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 1rem;
    /* align-items: center; */
    justify-content: center;
}
.project__card{
    width: clamp(300px, 30% ,600px);
    /* height: 35rem; */
    background-color: rgb(7, 4, 26);
    border-radius: 15px;
    margin-bottom: 1rem;
}
.project__figure{
    width: 100%;
    margin: 0;
}
.project__image{
    border-radius: 15px 15px 0 0;
   width: 100%;
}
.project__caption{
    font-weight:bolder;
    font-size: 1.25rem;
    padding: 1rem;
    margin: 0 auto;
}
.project__container li {
    text-align: left;
    font-size: 1rem;
}

.project__card button{
    margin-top: 1rem;
    color: rgb(246, 246, 250);
    /* background-color: rgb(250, 251, 251); */
    font-size: 2.5rem;
    height: 4rem;
    background:none;
    border-radius: 20px;
    border: 1px solid blue;
}
.project__card button:hover{
    background-color: blue;
    color: aliceblue;
    transition: 0.4s;
}