@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main: #ffffff;
    --color-primary: #e34f00;
    background-image: url("./assets/images/background_dark.jpg");
  }

  .theme-dark {
    --color-main: #ffffff;
    background-image: url("./assets/images/background_dark.jpg");
  }
  .theme-light {
    --color-main: #000000;
    background-image: url("./assets/images/background_light.jpg");
  }

  .theme-orange {
    --color-primary: #e34f00;
  }
  .theme-green {
    --color-primary: #26e300;
  }
  .theme-blue {
    --color-primary: #2258ee;
  }
  .theme-yellow {
    --color-primary: #f7ff04;
  }
  .theme-purple {
    --color-primary: #b404ff;
  }
}

@font-face {
  font-family: comic;
  src: url("./assets/fonts/Ldfcomicsans-jj7l.ttf");
}

body {
  font-family: comic, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-attachment: fixed;
  background-color: rgb(16, 17, 18);
  color: white;
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
