@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-dark {
    background-color: #000000;
    --color-main: #ffffff;
    --color-main-medium: #bbbbbb;
    --color-reverse: #000000;
    --color-hover: #222222;
    --color-background: #000000;
  }
  .theme-light {
    background-color: #ffffff;
    --color-main: #000000;
    --color-main-medium: #444444;
    --color-reverse: #ffffff;
    --color-hover: #dddddd;
    --color-background: #ffffff;
  }

  .theme-orange {
    --color-primary: #e34f00;
  }
  .theme-green {
    --color-primary: #116002;
  }
  .theme-blue {
    --color-primary: #2258ee;
  }
  .theme-yellow {
    --color-primary: #f7ff04;
  }
  .theme-purple {
    --color-primary: #b404ff;
  }
}

body {
  font-family: "sans serif" Cambria, Cochin, Georgia, Times, "Times New Roman";
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
